<!-- product-card.component.html -->
 <div class="product-div" style=" margin-top:12px;   display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  padding: 20px;" >
<div class="product-card" *ngFor="let product of allproducts" >
  <div class="product-image" (click)="openPreview(imageBaseUrl+product.productImages[0],product)">
    <img [src]= "imageBaseUrl + product.productImages[0]" alt="Product Image">
    <span class="badge">New</span>
  </div>
  <div class="product-info">
    <h3 class="product-title">{{product.productName}}</h3>
    <p class="product-description">This is a short product description that highlights the key features.</p>
    <p>Category:{{product.productCategory}}</p>
    
    <div class="rating">
      ★★★★☆
      <span class="reviews">(120 reviews)</span>
    </div>
    
    <div class="product-footer">
      <span class="price">${{product.price}}</span>
    
    </div>
  </div>
</div>
</div>
<div class="image-modal" *ngIf="showPreview" (click)="closePreview()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <img [src]="selectedImage" alt="Preview" >
    <button class="nav-btn left" (click)="prevImage()">❮</button>
    <button class="nav-btn right" (click)="nextImage()">❯</button>
    <button class="close-btn" (click)="closePreview()">✕</button>
  </div>
</div>