<div class="container py-5">
  <h2 class="text-center mb-4">Shri Shyam Steel & Fabrication - Product Manager</h2>

  <div class="text-center">
    <button (click)="onAddClick()" class="btn btn-primary btn-lg shadow">
      <i class="ba ba-plus-circle"></i> Add Product
    </button>
  </div>

  <div *ngIf="showForm" class="card mt-4 shadow-sm border-0">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">Add New Product</h4>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label">Product Name</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="product.productName"
            name="productName"
            required
            placeholder="e.g. Steel Door Frame"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Product Description</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="product.productDescription"
            name="productDescription"
            required
            placeholder="Description"
          />
        </div>

        <div class="mb-3">
          <label class="form-label">Product Category</label><button  class="btn btn-success shadow btn1" style="float:right" (click)="addCatogory()">Add </button><button  class="btn btn-success shadow btn1" style="float:right" (click)="editCatogory()">Edit </button>
          <div *ngIf="showEditCategory">
            <div  *ngFor="let cat of allCategory" style="margin-top: 10px;">
              <span>{{cat.productCategory}}</span>
              <button class="btn btn-sm btn-outline-danger" (click)="onDeleteCategory(cat._id)" style="float:right">
              <i class="bi bi-trash"></i> Delete
            </button>
            </div>
          </div>
          <input *ngIf="showInputCategory" type="text" name="productCategory" [(ngModel)]="productCategory.category"class="form-control" ><button *ngIf="showInputCategory"  (click)="submitCategory()">Add</button>
          <select
            type="text"
            class="form-control"
            [(ngModel)]="product.productCategory"
            name="productCategory"
            required
            placeholder="e.g. Frames, Grills"
          >
          <option *ngFor="let cat of allCategory">{{cat.productCategory}}</option>
        </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Price Per Unit</label>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="product.price"
            name="price"
            placeholder="Enter price in ₹"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Unit</label>
          <select  class="form-control"  [(ngModel)]="product.unit"  name="unit"  type="text">
            <option value="/Square Feet">/Square Feet</option>
            <option value="/Square Meter">/Square Meter</option>
            <option value="/Kilogram">/Kilogram</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Product Images</label>
          <input
            type="file"
            class="form-control"
            (change)="onFileChange($event)"
            multiple
             [(ngModel)]="product.productImages"
          />
          <div class="small text-muted mt-1">
            You can select multiple images
          </div>
        </div>

        <div *ngIf="!editmode" class="text-end">
          <button type="submit" class="btn btn-success shadow">Submit</button>
        </div>
         <div *ngIf="editmode" class="text-end">
          <button type="button" class="btn btn-success shadow" (click)="onClickEdit()">Edit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let product of products">
      <div class="card shadow-sm">
        <img
          class="card-img-top"
          [src]="imageBaseUrl + product.productImages[0]"
          alt="Product Image"
          style="height: 200px; object-fit: cover"
        />
        <div style="display:flex">
        <div class="card-body">
          <h5 class="card-title">{{ product.productName }}</h5>
          <p class="card-text text-muted">{{ product.productCategory }}</p>
          <p class="card-text fw-bold">₹{{ product.price }}</p>
        </div>
        <div style="margin:20px">
          <button class="btn btn-sm btn-outline-primary" (click)="onEdit(product)" style="margin-right:2px">
              <i class="bi bi-pencil-square"></i> Edit
            </button>
            <button class="btn btn-sm btn-outline-danger" (click)="onDelete(product._id)">
              <i class="bi bi-trash"></i> Delete
            </button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
